ol, ul {
    padding-left: 2em;
}

img {
    max-width: 100%;
}


.article {
    max-width: 40em;
    margin: 0 auto;
    padding: 4em 1em 1em 1em;
}

.article .article-header {
    padding: 1em 0;
    border-bottom: 1px solid var(--article-border-color);
}

.article .article-header .article-header__text {
    font-size: 40px;
}

.article .article-header .article-header__time {
    display: inline-block;
    padding-top: 1em;
}

.article .content {
    padding-top: 2em;
}

.article .content p {
    padding: 1em 0;
    line-height: 1.5em;
}

.article .content .code {
    padding: .5em;
    color: var(--code-text-color);
    background-color: var(--code-background-color);
}

.article .references {
    padding: 1em 0;
    border-top: 1px solid var(--article-border-color);
}

.article .references .references--header {
    padding-bottom: 1em;
}

.article .references .references--list {
    padding-left: 1em;
}

.article .references .references--list a {
    text-decoration: none;
}