.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;

  a {
    color: #fff;
    text-decoration: none;
  }
}
