.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listingContainer {
  margin-top: 4em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .listItem {
    padding-bottom: 4em;
  }

  .subtitleContainer {
    display: flex;
    justify-content: space-between;
  }

  .date {
    padding: 0.2em;
  }
}
